# Vyber priznakov

In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from sklearn.linear_model import Lasso
from sklearn.feature_selection import SelectFromModel

pd.pandas.set_option('display.max_columns', None)

In [2]:
X_train = pd.read_csv('xtrain.csv')
X_test = pd.read_csv('xtest.csv')

X_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na
0,816,0,0.0,0.0,0.0,0.294088,0.000,0.000000,0.0,0.000000,1.0,0.000000,1.0
1,878,0,1.0,0.0,0.0,0.231060,0.000,0.000000,0.0,0.015412,0.0,0.000000,0.0
2,194,1,0.5,0.0,0.0,0.029371,0.125,0.166667,0.0,0.050749,1.0,0.000000,0.0
3,524,1,0.0,0.0,1.0,0.546199,0.000,0.166667,0.0,0.113168,1.0,0.666667,0.0
4,635,0,1.0,0.0,1.0,0.105004,0.375,0.333333,0.0,0.054457,0.0,0.000000,0.0

In [3]:
y_train = X_train['Survived']
y_test = X_test['Survived']

X_train.drop(['PassengerId', 'Survived'], axis=1, inplace=True)
X_test.drop(['PassengerId', 'Survived'], axis=1, inplace=True)

##  Vyber atributov

In [4]:
sel_ = SelectFromModel(Lasso(alpha=0.005, random_state=0))

sel_.fit(X_train, y_train)

SelectFromModel(estimator=Lasso(alpha=0.005, random_state=0))

In [5]:
sel_.get_support()

array([ True, False,  True,  True,  True, False, False, False,  True,
        True,  True])

In [6]:
selected_feats = X_train.columns[(sel_.get_support())]

print('total features: {}'.format((X_train.shape[1])))
print('selected features: {}'.format(len(selected_feats)))
print('selected features: ', selected_feats)
print('features with coefficients shrank to zero: {}'.format(
    np.sum(sel_.estimator_.coef_ == 0)))

total features: 11
selected features: 7
selected features:  Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Cabin', 'Embarked', 'Age_na'], dtype='object')
features with coefficients shrank to zero: 4

In [7]:
selected_feats = X_train.columns[(sel_.estimator_.coef_ != 0).ravel().tolist()]

selected_feats

Index(['Pclass', 'Sex', 'Age', 'SibSp', 'Cabin', 'Embarked', 'Age_na'], dtype='object')

In [8]:
pd.Series(selected_feats).to_csv('selected_features.csv', index=False)